* {
    all: unset; 
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font Mono";
    font-size: 14px;
    border: none;
}

window#waybar {
    background: transparent;
}

#custom-arch,
#custom-weather,
#clock,
#workspaces,
#pulseaudio,
#network,
#battery,
#custom-notification {
    background: #102021;
    color: #ebdbb2;
    padding: 0px 10px;
    border-radius: 25px;
    margin: 2px 2px;
}

#custom-weather {
    color: #ebdbb2;
}

#pulseaudio {
    color: #ebdbb2;
}

#network {
    color: #ebdbb2;
}

#battery {
    color: #ebdbb2;
}

#custom-arch {
    font-size: 18px;
    padding: 0px 18px; 
    color: #ebdbb2;
}

#custom-notification {
    color: #ebdbb2; 
    padding: 0px 16px; 
}

#workspaces button {
    color: transparent;
    padding: 0 10px;
    margin: 3px 3px;
    background: rgba(104, 157, 106, 0.15);
    border-radius: 15px;
}

#workspaces button.active {
    color: #102021;
    background: #689d6a;
    padding: 0px 25;
}

tooltip {
    background: transparent;
    opacity: 0;
}
