configuration {
    modi: "drun,run";
    show-icons: true;
    display-drun: " ";
    display-run: " ";
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 12";
}

@theme "theme.rasi"
