* {
    all: unset;
}

* {
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font Mono";
    font-size: 14px;
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition: none;
}

window#waybar {
    background: transparent;
}

/* MAIN PILLS */
#custom-arch,
#custom-weather,
#custom-notification, 
#clock,
#workspaces,
#pulseaudio,
#network,
#battery {
    background: #111111;
    color: #ff4d6d;
    padding: 0px 10px;
    border-radius: 25px;
    margin: 2px 2px;
}

/* INDIVIDUAL COLORS */
#custom-weather {
    color: #ff4d6d;
}

#pulseaudio {
    color: #ff4d6d;
}

#network {
    color: #ff4d6d;
}

#battery {
    color: #ff4757;
}

/* ARCH ICON */
#custom-arch {
    font-size: 18px;
    padding: 0px 18px;
    color: #ff3b3b;
}

#custom-notification {
    padding: 0px 16px;
    color: #ff4d6d;
}
/* WORKSPACES */
#workspaces button {
    color: #ff4d6d;
    padding: 0 10px;
    margin: 2px 3px;
    background: rgba(255, 77, 109, 0.1);
    border-radius: 15px;
}

#workspaces button.active {
    color: #111111;
    background: #ff4d6d;
}

/* TOOLTIP */
tooltip {
    background: transparent;
    opacity: 0;
}
